<h1>New Form Arrticle</h1>
<%= form_with model: @article do |from| %>
    <div>
        <%= form.label :title %><br>
        <%= form.text_field :title %><br>
    </div>

    <div>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
    </div>

    <div>
        <%= form.submit %>
    </div>
    
<% end %>